$border-radius: 0.475rem;
$border-radius-sm: 0.425rem;
$border-radius-lg: 0.625rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-2xl: var(--bs-border-radius-xxl);
$border-radius-pill: 50rem;
